body {
    color: #c5c5c5;
    font-weight: 900;
}

.register_facebook{
    color: #405D9B;
    font-size: 90%;
}

.register_google{
    color: #4788F5;
    font-size: 90%;
}

.btn_facebook{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #405D9B;
    color: #fff;
    width: 100px;
    padding: 4px 0;
}

.btn_google{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4788F5;
    color: #fff;
    width: 100px;
    padding: 4px 0;
}

.box_visimisi {
    padding: 0 50px;
    max-width: 500px;
    font-size: 90%;
    color: #ccc;
    font-family: sans-serif;
    font-weight: 200;
}

/* box service */
.box_service {
    margin: 20px 20px 0;
    padding: 10px;
    box-shadow: 0 0 2px 2px #dedede;
}

.service_head>div {
    padding: 0 3px;
}

.service_head .item_head {
    border-radius: 7px 7px 0 0;
    border:  1px solid #ccc;
    padding:  5px;
    text-align: center;
    cursor: pointer;
}

.service_head .item_head.active {
    background-color: #008080;
    color: #fff;
}

.service_content {
    border: 1px solid #ccc;
    padding: 10px;
}

/* box order */
.box_order .box_header {
    padding: 3px;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #6d6d6d;
    text-align: center;
}

.box_order .box_data {
    padding: 15px;
}

.service_content>.box_header {
    text-align: center;
    margin:  10px;
    color: #525252;
}

.box_order>div {
    border: 1px solid #ccc;
    min-height: 200px;
}

.box_data input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 3px;
}

.box_order .btn_cari {
    background-color: #008080;
    color: #fff;
    padding: 5px 10px;
    font-weight: 900;
}

.box_commercial{
    padding: 10px;
    box-shadow: 0 0 2px 2px #dedede;
    margin: 20px 20px 0;
    color: #3c3c3c;
}

.box_deals {
    padding: 10px;
    box-shadow: 0 0 2px 2px #dedede;
    margin: 20px 20px 0;
    position: relative;
}

.box_deals img{
    margin-right: 10px;
    box-shadow: 0 0 3px 3px #b4b4b4;
}

.box_partners {
    padding: 10px;
    box-shadow: 0 0 2px 2px #dedede;
    margin: 20px 20px 0;
    color: #828282;
}

.box_interest {
    padding: 10px;
    box-shadow: 0 0 2px 2px #dedede;
    margin: 20px 20px 0;
}

.box_deals>div {
    padding: 10px;
    text-align: center;
}

span.box_more_deals {
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
}

.box_deals>h2 {
    float: left;
    margin: 0;
    padding: 0;
}


.box_partners>div {
    padding:  10px;
}

.box_partners h2,.box_partners h4 {
    padding:  0;
    margin: 0;
}

.box_partners img {
    margin-right: 4px;
    box-shadow: 0 0 3px 3px #c2c2c2;
}

.box_interest>h2 {
    margin: 0;
}

.box_footer {
    background-color: #2aa59f;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.box_login_dlg {
    position: absolute;
    max-width: 200px;
    float: right;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 80%;
    color: #333;
}

.box_login_dlg h3 {
    margin: 0;
    padding: 0;
    font-family: 'Siemreap', display;
    font-size: 12px;
}

.box_login_dlg div {
    font-family: 'Cutive Mono', monospace;
    font-size: 11px;
}

.box_login_dlg input {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.box_login_forgot {
    position: absolute;
    float: right;
    right: 30px;
    top: 73px;
    font-size: 70% !important;
}

input.btn_login {
    background-color: #FA7107;
    padding: 3px 7px;
    color: #fff;
}

.box_login_dlg input {
    margin-bottom: 10px;
    padding: 3px 5px;
}

.box_register_dlg {
    position: absolute;
    max-width: 250px;
    float: right;
    right: 260px;
    top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 100;
    color: #333;
}

.box_register_dlg h3 {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Siemreap', display;
    font-size: 12px;
}

.box_reg_mobile {
    position: absolute;
    margin-left: 100px;
    margin-top: -15px;
    font-size: 60%;
}

.box_reg_info {
    font-size: 60%;
}

.box_reg_login {
    margin: 10px 0;
    padding: 3px 10px;
    text-align: center;
    background-color: #a2f6ff;
    color: #333;
}

.bos_reg_info2 {
    font-size: 60%;
    text-align: center;
    margin: 10px 0;
}

.box_register_dlg input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 5px;
}

